#  name in even order

In [56]:
name=['kesavan','krish','priyanka','suji','vjk','nalini','Appa']
for i in range(0,len(name),2):
    print(name[i])

kesavan
priyanka
vjk
Appa

# name in reverse even order

In [59]:
lst=[]
for i in range(0,len(name),2):
    lst.append(name[i])
print(lst)
list(reversed(lst))

['kesavan', 'priyanka', 'vjk', 'Appa']

['Appa', 'vjk', 'priyanka', 'kesavan']

In [11]:
name[::-2]

['Appa', 'vjk', 'priyanka', 'kesavan']

1) Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.

Sample Input : 34,67,55,33,12,98 Expected output : ['34', '67', '55', '33', '12', '98']

In [12]:
value=input("Enter a input value:")
a=value.split(",")
b=tuple(a)
print(a)
print(b)

Enter a input value:34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [65]:
name=['kesavan','krish','priyanka','suji','vjk','nalini','Appa']
for i in range(0,len(name),1):
    a=name[i]
print(a)

Appa

In [66]:
lst1=[]
for i in range(0,len(name),2):
    lst1.append(name[i])
print(lst1)

['kesavan', 'priyanka', 'vjk', 'Appa']

In [20]:
name

['kesavan', 'krish', 'priyanka', 'suji', 'vjk', 'nalini', 'Appa']

2) With a given tuple, Write a program to print the first half values in one line and the last half values in one line.

Sample Input : (1,2,3,4,5,6,7,8,9,10, 11) Expected output : (1,2,3,4,5) (6,7,8,9,10)

In [25]:
Input=(1,2,3,4,5,6,7,8,9,10,11)
a=Input[0:5]
b=Input[5:10]
print(a)
print(b)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

3) Write a program to generate and print another tuple whose values are even numbers in the given tuple

Sample Input : (1,2,3,4,5,6,7,8,9,10)
Expected Output : (2, 4, 6, 8, 10)

In [28]:
Input=(1,2,3,4,5,6,7,8,9,10)
a=Input[1:10:2]
print(a)

(2, 4, 6, 8, 10)

4) With two given lists, write a program to make a list, whose elements are intersection of the above given lists.

Sample inputs : [12,3,6,88,35,55] [12,24,35,24,88,120,155]

Expected output : [12,88,35]

In [39]:
a=[12,3,6,88,35,55]
b=[12,24,35,24,88,120,155]
intersection_set=set.intersection(set(a),set(b))
intersection_list=list(intersection_set)
print(intersection_list)

[88, 35, 12]

#5) With a given list, write a program to print this list after removing all duplicate values with original order reserved.

Sample Input : [12,24,35,24,88,155,88,120,155] Expected output : [12, 24, 35, 88, 155, 120]

In [46]:
a=[12,24,35,24,88,155,88,120,155]
b=set(a)
c=sorted(b)
d=list(reversed(c))
print('Original output is ',b)
print('Sorted output is ',c)
print('reversed output is ',d)

Original output is  {35, 12, 155, 24, 88, 120}
Sorted output is  [12, 24, 35, 88, 120, 155]
reversed output is  [155, 120, 88, 35, 24, 12]

#Turn every item of a list into its square

In [37]:
#syntax [number **2 for number in list]
numbers=[1,2,3,4,5,6,7]
squared_number=[number **2 for number in numbers]
print(squared_number)

[1, 4, 9, 16, 25, 36, 49]

In [54]:
lst=[]
for i in numbers:
    lst.append(i**2)
print(lst)
print(i)

[1, 4, 9, 16, 25, 36, 49]
7

#Concatenate 2 lists in the following order
Input: list1 = ["Hello","Hi"]
       list2 = ["Divya","sam"]
Output:['Hello Divya','Hello Sam','Hi Divya','Hi Sam']

In [52]:
list1=["Hello","Hi"]
list2=["Divya","Sam"]
for i in list1:
    print(i)
for j in list2:
    print(j)
print(list1[0] || list2[0])

SyntaxError: invalid syntax (<ipython-input-52-71493929d2bd>, line 7)

In [18]:
a=[12,24,35,24,88,155,88,120,155]
a.remove(24)
print(a)

[12, 35, 24, 88, 155, 88, 120, 155]

In [3]:
a.pop(155)
print(a)

IndexError: pop index out of range

In [8]:
a.pop(1)

35

In [9]:
a.pop()

155

In [10]:
 a

[12, 24, 88, 155, 88, 120]

In [11]:
a.pop(-1)

120

In [12]:
a

[12, 24, 88, 155, 88]

In [13]:
a.pop(-3)

88

In [14]:
a

[12, 24, 155, 88]

In [15]:
a.clear

In [16]:
a.clear()

In [17]:
a

[]

In [19]:
a[1]

35

In [20]:
a.index(35)

1

In [21]:
a=[12,24,35,24,88,155,88,120,155]

In [22]:
a.count(24)

2

In [23]:
a.copy()

[12, 24, 35, 24, 88, 155, 88, 120, 155]

In [24]:
x=a.copy()

In [25]:
x

[12, 24, 35, 24, 88, 155, 88, 120, 155]

In [10]:
y=[]
name=['kesavan','krish','priyanka','suji','vjk','nalini','Appa']
y=list(reversed(name))
for i in range(0,len(y),2):
    print(y[i])

TypeError: list indices must be integers or slices, not tuple

In [16]:
name=['kesavan','krish','priyanka','suji','vjk','nalini','Appa']
x=name[::-2]
print(x)

['Appa', 'vjk', 'priyanka', 'kesavan']

In [8]:
nbr=[1,2,3,4,5]
for i in range(0,len(nbr)):
    x=0+nbr(i)
    print(x+1)

TypeError: 'list' object is not callable

In [30]:
rows = 5
for row in range(0, rows+1):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [28]:
for row in range(1, 6):
    print(row, end=' ')

1 2 3 4 5

In [26]:
for row in range(1, 6):
    print(row)

1
2
3
4
5

In [38]:
rows=5
for row in range(0,rows+1):
    for columns in range(1,row+1):
        print(columns,end=',')
    print("")

In [33]:
list1=['Hello','Hi']
list2=['Divya','Sam']
list3=[]
for i in range(len(list1)):
    for j in range(len(list2)):
        list3.append(list1[i]+ list2[j])
print(list3)

['HelloDivya', 'HelloSam', 'HiDivya', 'HiSam']

In [9]:
list1=['Hello','Hi']
list2=['Divya','Sam']
res = [for i, j in zip(list1,list2)] 
print(res)

SyntaxError: invalid syntax (<ipython-input-9-d6215faa6cec>, line 3)

In [38]:
value=input("Enter a word:\n ")
value[::-1]
for i in range(len(value)-1,-1,-1):
    print(value[i],end="")

Enter a word:
 priya
ayirp

In [22]:
list1=["Wel","t","Py","wor"]
list2=["come","o","thon","ld"]
list3=[]
for (a,b) in zip(list1,list2):
    list3.append(a+b)
    print('Display result without list: ',(a,b))
print('Display result with list: ',list3)

Display result without list:  ('Wel', 'come')
Display result without list:  ('t', 'o')
Display result without list:  ('Py', 'thon')
Display result without list:  ('wor', 'ld')
Display result with list:  ['Welcome', 'to', 'Python', 'world']

#sort a tuple of tuples by 2nd item

In [27]:
tuple1=(('a',32),('b',54),('c',19),('d',43))
a=len(tuple1)
for i in range(0, a):
    for j in range()

4